





    


body{
     font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 16px;
    
    
}
.container-fluid{
    width: 100%;
    padding: 10px;
    margin-right: 100px;
   
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
header > .container{
    padding: 40px 20px;
    margin-left: 100px;
}

header .burgerIcon {
    width: 40px;
    display: none; 
     
}
    @media screen and (max-width:173px) {
   
    header .burgerIcon {

    display: inline-block;
        width: 20px;
        height: 20px;
        }
    }

         @media screen and (max-width:200px) {
    .container-fluid{
        padding: 10px;
        margin-right: 0;
        display: block;
    }
} 




header .container .menu a{
font-size: 0.875em;
margin: 0 30px 30px 30px;
}


header .container .menu a:hover{
    color: rgb(15, 175, 207);
     padding-bottom: 7px;
    border-bottom: 2px solid rgb(15, 175, 207);
}


header form div{
    justify-content: center;
    padding: 10px 20px; 
    margin: 0 20px;
    border: 1px solid rgb(102, 71, 51);
    border-radius: 30px;
}
header form div input[type="text"]{
    border: none;
    margin-right: 10px;
    
}
header form div input[type="submit"]{
    background: url('https://cdn-icons-png.flaticon.com/512/149/149060.png') no-repeat center center;
    background-size:cover ;
    width: 20px;
    height: 20px;
    border: none;





    
    
}
header form div input[type="submit"]:hover{
    cursor: pointer;

}
header.cart div p{
    font-size: 0.938em;
}
header.cart img{
    margin :100px;
    padding:100px;
    width: 30px;
    height: 30px;
    border-radius: 10%;
    box-shadow: 5px 5px 10px rgba(228, 16, 16, 0.5);
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s, padding 0.3s, width 0.3s, height 0.3s;
}

header .cart-info p{
    font-size: 0.938em;
    color: rgb(219, 149, 88);
    margin: 30px 20px 30px 0;
    padding: 0px 30px 0px 30px;
    
   
  
}
    

header .cart div a {
    font-size: 0.750em;
    color: rosybrown;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, text-decoration 0.3s;


    
}
header .cart div a:hover {
    color: rgb(15, 175, 207);
    text-decoration: underline;
    font-weight: bold;
    
}
    





    


img{
    width: 10px;
    height: 10px;
    padding: 0 5% 5% 5%;
    border-radius: 15%;
    box-shadow: 5px 5px 10px rgba(228, 16, 16, 0.5);
    transition: transform 0.3s, box-shadow 0.3s, border-radius 0.3s, padding 0.3s, width 0.3s, height 0.3s;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 20px rgba(15, 175, 207, 0.7);
    border-radius: 20%;
    padding: 0 15% 5% 5%;
    width: 220px;
    height: 220px;
}




p{
    color: rgb(23, 24, 24);
    text-decoration-color: rgb(16, 25, 32);
    text-decoration-style: wavy;
}
a{
    color: rgb(102, 71, 51);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s, text-decoration 0.3s;
    

}