
.popup{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

}
.popup .inner-popup{
    width: 200px;
    height: 300px;
    background-color: #fff;
    display: flex;
    
}
.inner-popup .judo{
    position: relative;
    top: 30px;
}